/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




* {
    font-family: san, 'Microsoft JhengHei', Regular;
}

img {
	vertical-align: middle;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom: 2px solid #000;
	font-family: SF Pro Text, Regular;
}
h1{
    font-size: 80px;
    line-height: 95px;
}
.photo{
	padding-top: 48px;
	padding-bottom: 48px;
}
h2{
	font-size: 32px;
	line-height: 48px;
	border-bottom: 1px solid #000;
	margin-bottom: 16px;
}
.en-tt{
	font-size: 24px;
	color: #A00404;
	vertical-align: middle;
}
li{
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 24px;
}
ul{
	margin-bottom: 72px;
}
.box {
	background-color: #415165;
	text-align: center;
	padding:24px 102px;
	margin-bottom: 72px;
}

.border-white{
	border-color: #fff;
}
.text-white{
	color: #fff;
}
.skills{
	margin-top: 24px;
	margin-bottom: 24px;
	display: inline-block;
	border-left: 1px solid #96A9C4;
	padding-left: 24px;
}
.mb-0{
	margin-bottom: 0px;
}

.skills li{
	font-size: 24px;
	line-height: 36px;
	text-align: left;
}
.work{
	margin-left: 24px;
	border-left: 1px solid #96A9C4;
	padding-left: 24px;
}
h3{
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
}
.work-det {
	font-size: 20px;
	line-height: 30px;
}

footer{
	background-color: #415165;
	color: #fff;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 32px;
}